body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #90323D;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.units {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px; /* space BETWEEN button */
}

.unit-btn {
    width: 350px; 
    padding: 16px 20px; /* space INSIDE button */
    font-size: 16px;
    border-radius: 8px;
}

.uall {
  width: 1000px;
  height: auto; 
}

/* img {
  width: 400px;
  height: auto; /* keeps original proportions 
} */


/* 
h1 {
    color: #5E0B15;
    -webkit-text-stroke: 2px black;
    text-shadow: 0 0 10px #0075F2, 0 0 20px #0075F2; 
*/

h1 {
  animation: float 3s ease-in-out infinite;
  color: #5E0B15;
  -webkit-text-stroke: 2px black;
  text-shadow: 0 0 10px #0075F2, 0 0 20px #0075F2; 
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

button {
  transition: transform 0.3s ease, background-color 0.3s;
  background: #111827;
  color: #22c55e;
  border: 2px solid #22c55e;
  box-shadow: 0 0 10px #22c55e;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background-color: #16001E;
}

body {
  background: linear-gradient(270deg, #3b82f6, #22c55e);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

html {
  scroll-behavior: smooth;
}